* {
    box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

.treeview {
    // width: 90%;
    margin: 0 auto;

    // Отступы
    .left {
        background-color: #0d8ee1;
        color: #f9f9f9;
        > .item-holder > {
            >.item-name {
                padding-left: 15px;
            }
             > .item-holder {
                 >.item-name {
                     padding-left: 35px;
                 }
                 > .item-holder {
                     .item-name {
                         padding-left: 55px;
                     }
                 }
             }
         }
    }

    .tableview {
        border: 1px solid #ccc;
        .left {
            float: left;
            width: 30%;
            position: relative;
            .item {
                .data-holder {
                }
            }
        }
        .right {
            -webkit-box-shadow: inset 5px 0px 16px -6px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 5px 0px 16px -6px rgba(0,0,0,0.75);
            box-shadow: inset 5px 0px 16px -6px rgba(0,0,0,0.75);
            float: left;
            width: 70%;
            position: relative;
            .item {
                white-space:nowrap;
            }
            overflow-x: hidden;
            &:hover {
                cursor: col-resize;
            }
        }
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }

    .item-name {
        padding-right: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        padding-top: 10px;
        border-right: 1px solid #ccc;
    }

    .item-data-container {
        white-space: nowrap;
        border-bottom: 1px solid #ccc;
        vertical-align: top;
        display: table;
        padding-left: 30px;
        text-align: right;
        .item-data {
            display: table-cell;
            padding-right: 10px;
            padding-left: 10px;
            padding-bottom: 10px;
            padding-top: 10px;
            border-right: 1px solid #ccc;
            min-width: 150px;
            max-width: 150px;
            vertical-align: top;
        }
    }

    .delim {
        padding-bottom: 10px;
    }

    .names-container {
        margin-left: 30%;
        width: 70%;
        overflow: hidden;
    }

    .st-names {
        overflow: hidden;
        color: #fff;
        background: #2b517d;
        z-index: 1;
    }
    .column-names {
        display: table;
        overflow: hidden;
        > .item {
            display: table-cell;
            min-width: 150px;
            max-width: 150px;
            font-size: 12px;
            color: #f9f9f9;
            letter-spacing: 0.05em;
            text-align: center;
            white-space: normal !important;
            padding: 10px 10px;
            // padding-bottom: 15px;
            border-right: 1px solid #fff;
            &:first-child {
                padding-left: 30px;
                max-width: 180px;
                min-width: 180px;
            }
        }
    }


}
